<!--
  Property Binding [Element.attribute] = "method"
  syntax : [] = ""
 -->
 <!--
   Event Binding (event) = "Method that is triggered"
   syntax : () = ""
  -->
<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input) = "onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<br>
<button class="btn btn-primary"
  [disabled] = "!allowNewServer"
  (click) = "onCreateServer()">Add Server</button>
  <br>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>
<br>
<app-server *ngFor = "let server of servers"></app-server>


